
    <div class="row">
      <div class="col-5">
        <input type="text" class="form-control mb-2" id="targy1" placeholder="Képesség" [(ngModel)]="ability">
      </div>
      <div class="col-1">
        <select class="form-select" id="numberSelect1" [(ngModel)]="level">
          <optgroup label="Válassz egy számot">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </optgroup>
        </select>
      </div>
    </div>
    
  