    <nav class="navbar bg-info navbar-dark" style="width: 100%;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="navbar-brand" href="#" routerLink="/char-page" routerLinkActive="active">Karakterlap</a>
          <a class="navbar-brand" routerLink="/karaktergen" routerLinkActive="active">Karaktergenerálás</a>
          <a class="navbar-brand" routerLink="/skills" routerLinkActive="active">Képességek</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

