<div class="container mt-3">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Álomvilág
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Az Álomvilág képesség lehetővé teszi a karaktered számára, hogy belépjen és befolyásolja az
                    álmok világát. Ahogy a karaktered fejlődik, egyre mélyebbre hatolhat az álmok rejtelmeibe, és képes
                    lesz manipulálni, felfedezni vagy akár befolyásolni mások álmait.

                    <br><strong>1. szint - Álomérzékelés:</strong> Kezdetben a karaktered észreveszi, ha valaki álmodik
                    a közelben. Képes érzékelni az álmok jelenlétét és intuícióval megérteni, miről szólnak.

                    <br><strong>2. szint - Személyes Álomutazás:</strong> A képesség fejlődése során a karaktered már
                    képes lesz saját álmai mélyére hatolni. Ezekben az álmokban felfedezhet titkokat, és megoldásokat
                    találhat problémákra.

                    <br><strong>3. szint - Álommanipuláció:</strong> Ezen a szinten a karaktered megtanulja, hogyan
                    manipulálja a saját álmait. Képes lehet változtatni az álmok kimenetelén, és a szimbólumokon
                    keresztül kommunikálni az álmokban.

                    <br><strong>4. szint - Mások Álmának Befolyásolása:</strong> A képesség továbbfejlődésével a
                    karaktered képes lesz befolyásolni más emberek álmait. Lehetősége nyílik segíteni nekik, vagy éppen
                    megzavarni vagy gyengíteni az álmaikban.

                    <br><strong>5. szint - Álomvalóság Teremtése:</strong> Ezen a szinten a karaktered már olyan erős
                    lesz, hogy saját álomvilágokat teremthet. Képes lesz létrehozni teljesen új és egyedi
                    álomkörnyezeteket, ahol a szabályokat ő határozza meg.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Botanika
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    A Botanika képesség a növények megismerését és azokkal való hatékony interakciót jelenti. A szintek
                    növekedésével a karaktered egyre nagyobb tudást szerez a növényekről, és képessé válik azokat
                    felismerni, gyűjteni, alkalmazni és akár termeszteni is.

                    <br><strong>1. szint - Növényfelismerés:</strong> Kezdeti szinten a karaktered ismeri a leggyakoribb
                    növényeket, és képes felismerni őket a természetben. Meg tudja különböztetni a mérgező és hasznos
                    növényeket egymástól.

                    <br><strong>2. szint - Gyógynövények:</strong> A képesség fejlődik, és a karaktered elkezdi tanulni
                    a gyógynövények tulajdonságait és felhasználási módjait. Képes hatékonyan felismerni és begyűjteni a
                    gyógyhatású növényeket.

                    <br><strong>3. szint - Növényi kivonatok:</strong> A képesség további fejlődése során a karaktered
                    megtanulja, hogyan készítsen kivonatokat és főzeteket a növényekből. Ezeket a készítményeket
                    felhasználhatja gyógyításra, erősítésre vagy akár varázslatokhoz.

                    <br><strong>4. szint - Növényi varázslatok:</strong> Ezen a szinten a karaktered már olyan
                    varázslatokat tanul, amelyek a növények erejét és tulajdonságait használják fel. Például képes lehet
                    növényi védelmi pajzsot teremteni vagy növényeket manipulálni a környezetben.

                    <br><strong>5. szint - Zöld ujj:</strong> A képesség tetőpontján a karaktered mestere lesz a
                    növényeknek. Képes lesz ritka és erőteljes növényeket termeszteni, létrehozni egyedi növényalapú
                    tárgyakat és akár életet adni vagy elvenni növényekkel kapcsolatos varázslatok által.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Farkas-szellem
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    A Farkas-szellem képesség lehetővé teszi a karaktered számára, hogy kapcsolatba lépjen és egyesüljön
                    a farkas-szellem energiáival. Ez a képesség lehetővé teszi a karaktered számára, hogy átélje a
                    farkas erejét, érzékeit és intuícióját.

                    <br><strong>1. szint - Farkas-érzékek:</strong> Kezdeti szinten a karaktered észreveheti a
                    környezetében lévő veszélyeket és lehetőségeket, hasonlóan egy farkashoz. Képes lesz érzékelni a
                    szagokat, hangokat és nyomokat.

                    <br><strong>2. szint - Farkas-erő:</strong> A képesség fejlődése során a karaktered egyre erősebbé
                    válik, és farkashoz hasonlóan nagyobb fizikai erővel rendelkezik. Ez segíthet küzdelem közben vagy
                    nehéz feladatok elvégzésekor.

                    <br><strong>3. szint - Farkas-intuíció:</strong> Ezen a szinten a karaktered már képes lesz érteni a
                    farkasoknak jellemző ösztönöket és intuíciót. Ez segíthet a döntéshozatalban és a helyes út
                    kiválasztásában.

                    <br><strong>4. szint - Farkas-forma:</strong> A képesség további fejlődése során a karakterednek
                    lehetősége nyílik rövid időre átalakulni egy farkassá. Ebben a formában még jobban kihasználhatja a
                    farkas-szellem erejét és tulajdonságait.

                    <br><strong>5. szint - Farkas-vezető:</strong> Ezen a szinten a karaktered olyan erőssé válik, hogy
                    képes lesz vezetni és irányítani a farkasokat. Megérti a farkasok társadalmi struktúráját és
                    kommunikációját, így hatékonyan együtt tud működni velük.
                </div>
            </div>
        </div>
    </div>
</div>